{% extends "summarizer/base.html" %}
{% load static %}
{% block title %}
<title>Home | Sommaire</title>
{% endblock title %}
{% block link %}
    <link href="{% static 'summarizer/main.css' %}" rel="stylesheet" type="text/css">
{% endblock link %}

{% block style %}
    <style>       
        #output
        {
            background-color: #E5E7EB;
            box-sizing: border-box;
            border: 1px solid var(--text-color);
            min-height: 60vh;
            max-height: 180vh;
            /* height: 472.511rem; */
            width: 100%;    
            padding: 1rem;
            overflow: scroll;    
        }
        #flexing
        {
            flex: 0 0% !important;
        }    
    </style>
{% endblock style%}
{% block content %}
    <div class="container">
    <div class="form-group row">
            <div class="col-sm-5">
                <label for="content">Content:</label>
                <textarea class="form-control input-lg" id="content" placeholder="Paste your article conetnt here that you want to summarize or choose file locally" style="height:100%; overflow: scroll; min-height: 60vh;max-height: 180vh; height: 4.511em;"></textarea>
                <center><input type="file" id="myFile" name="filename" style="margin: 3px 0px 3px 0px;"></center>
            </div>
            <div class="col-sm-2" id="flexing" style="padding-top: 12.5%;margin-right: 1rem;margin-left: 1rem;">
                <button id="btn-summary">Summarize</button>
            </div>
            <div class="col-sm-5">
                <div style="font-size: larger;">Summary will come here 👇</div>
                {% if data %}
                    <div id="output"><p style="font-size: smaller;">{{data}}</p></div>
                {% else if %}
                    <div id="output"><p style="font-size: smaller;">Output text</p></div>
                {% endif %}
            </div>
    </div>
    </div>

<!-- <div class="form-group row">
    <div class="col-sm-6">
        <label for="comment">Content:</label>
        <textarea class="form-control input-lg" id="content" placeholder="Paste your article conetnt here that you want to summarize or choose file locally"></textarea>
        <center><input type="file" id="myFile" name="filename" style="margin: 3px 0px 3px 0px;"></center>
    </div>
    <div>
        <button id="btn-translate">Summarize</button>
    </div>        
    <div class="col-sm-6">
        <div style="font-size: larger;">Summary will come here 👇</div>
        <div id="output">Output text</div>
    </div>
</div> -->
{% endblock content %}
{% block script %}
    <script src="{% static 'summarizer/main.js' %}" type="text/javascript"></script>
{% endblock %}
