@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New&display=swap');
* {
    box-sizing: border-box;
}



:root{
    --primary-color: #F2C94C;
    --text-color:#333333;  
    --width-break: 600px;    
}

body{
    font-family: 'Scheherazade', serif;
    margin:0;
    color:var(--text-color); 

}

.header{    
    background-color : var(--primary-color);    
}

#btn-summary{
    border:none;
    /* padding: 1rem 2rem; */
    margin: 1rem 0rem;
    background-color:#e5e7eb;
    font:inherit;
    font-size:large;
}

.main{
    box-sizing:border-box;
    max-width:var(--width-break); 
    margin:auto;
    padding:1rem;
}

#output{
    background-color: #E5E7EB;
    box-sizing: border-box;
    border: 1px solid var(--text-color);
    min-height: 60vh;
    max-height: 180vh;
    /* height: 472.511rem; */
    width: 100%;    
    padding: 1rem;
    overflow: scroll;    
}

.txtOutput{
    display: block; width: 100%; padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;                
    height:100%; 
    overflow: scroll; 
    min-height: 60vh;
    max-height: 180vh;
    height: 4.511em;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.rating
{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotateY(180deg);
    display: flex;
}

.rating input
{
    display: none;
}

.rating label
{
    display: block;
    cursor: pointer;
    width: 50px;
}

.rating label::before
{
    content:'\f005';
    font-family: 'Font Awesome 5 Free';
    font-weight: 400;
    position: relative;
    display: block;
    color: #101010;
}

.rating label::after
{
    content:"\f005";
    font-family: "Font Awesome 5 free" ;
    font-weight: 400;
    position: absolute;
    display: block;
    color: #1f9cff;
    top: 0;
    opacity: 0;
    transition: .5s;
    text-shadow: 0 2px 5px rgba(0,0,0,.5);
}

.rating label:hover::after,
.rating label:hover ~label::after,
.rating input:checked ~ label::after
{
    opacity: 1;
}



footer{
    position:fixed;
    bottom:0;
    width:100%;
    background-color:var(--primary-color);
    text-align:center;
    padding:1rem;
}

footer p{
    max-width: var(--width-break); 
    margin:auto;   
}